body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  h1{
    text-align: center;
  }
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }

  .fila{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: violet;
  } 

  .tarjeta{
    
    background: springgreen;
    width: 25%;
    height: 50%;
    margin: 1% ;
    padding: 1% ;
    border-radius: 32px;
  }

  .heading{
    font-size: 48px;
    width: 100%;
    height: 20%;
    background: steelblue;    
  }
  .body{
    width: 100%;
    height: 60%;
  }
  .footer{
    width: 100%;
    height: 20%;
    background: darkslategray;
  }

  .container-card{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}
.title-cards{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: black;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background:#fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
}


.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 210px;
}
.card .contenido-card{
    padding: 15px;
    text-align: center;
  
}
.card .contenido-card h3{
    margin-bottom: 5px;
    color: #7a7a7a;
}
.card .contenido-card p{
    line-height: 1.8;
    color: #014c4e;
    font-size: 14px;
    margin-bottom: .7em;
    font-size: 14px;
    font-weight: 600;
}
.card .contenido-card a{
    display: inline-block;
    padding: 10px;
    margin-top: 5px;
    text-decoration: none;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}
.card .contenido-card a:hover{
    background: #2fb4cc;
    color: #fff;
}


.flex-container {
  flex-wrap: wrap;
}
.card ul{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card ul li{
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: seagreen;
  justify-content:center ;
}

.moviDetalle{
  display: flex;
  flex-direction: row;
  width: 80%;
  background: #2fb4cc;
  height: 70%;
  justify-content: center;
  align-items: center;
  left: 2%;
  top: 12%;
  margin-top: 6%;
  position: absolute;
  border-radius: 32px;
  padding: 5px;
}

.tarje{
  position: absolute;
  width: 60%;
  height: 40%;
  top: 2%;
  left: 5%;
  padding: 1%;
}
.tarje img{
  position: absolute;
  width: 30%;
  
}
.conte{
  position: absolute;
  display: flex;
  flex-direction:column;
  line-height: normal;
  left: 45%;
  top:5%;
}

.conte small {
  margin: 3px;
}


#titulo{
  color: white;
  width: 45%;
}
#resumen{
  display: flex;
  font-size: small;
  word-break: break-all;
  text-align: justify;
  width: 90%;
  margin-bottom: 2%;
}
#gene{
  font-size: 16px;
}
.btn{
  width: 25%;
  height: 15%;
  padding: 2%;
  border-radius: 32px;
  text-align: center;
  justify-content: center;
  background: blue;
  color: white;
  text-decoration: none;
}

.tituloApartado{
  text-align: center;
  colorr:green
}
.vidaCine{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 10%;
  width: 80%;
  text-align: justify;
  
}
.vidaCine strong{
  font-size: 38px;
  color: aqua;
  background: black;
  padding: 1%;
  width: 10%;
  text-align: center;
}
.vidaCine p{
  font-weight: 600;
}
.vidaCine img{
  width: 50%;
  display: flex;
  justify-content: center;
}
.vidaDocu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 10%;
  width: 80%;
  text-align: justify;
  margin-bottom: 10%;
}
.vidaDocu strong{
  font-size: 38px;
  color: aqua;
  background: black;
  padding: 1%;
  width: 30%;
  text-align: center;
}
.vidaSeries p{
  font-weight: 600;
}
.vidaSeries img{
  width: 50%;
  display: flex;
  justify-content: center;
}
footer{
  margin-top: 35%;
  width: 100%;
  background: #014c4e;
  color: white;
  font-size: small;
  padding: 15px;
  display: flex;
  justify-content: center;
}

@charset "utf-8";
.contenedor{ 
display: flex; 
justify-content:center; 
flex-wrap:wrap; 
gap: 16px; 
} 
.tarjeta{
display:flex;
flex-direction:column;
justify-content:space-between;
width: 20%;
border: 1px solid lightgray;
box-shadow: 2px 2px 8px 4px #d3d3d3d1;
border-radius:15px;
font-family: sans-serif;
}
.titulo{
font-size: 24px;
padding: 10px 10px 0 10px;;
}
.cuerpo{
padding: 10px;
flex: 1 1 100%;
}
.cuerpo img{
width: 100%;
}

.pie{
background: #6699ff;
border-radius:0 0 15px 15px;
padding: 10px;
text-align:center;
}
.pie a{
text-decoration: none;
color: white;
}
.pie a:after {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
content: ""
} 
